<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<header>
  <a href="/"><h1>E-commerce Backend</h1></a>
  <nav>
    <a href="/products">Productos</a>
    <a href="/cart">Carrito</a>
  </nav>
</header>

<main>
  {{{body}}}
</main>

<footer>
  <p>© 2024 E-commerce-Backend</p>
</footer>

</body>
</html>
